{% extends "base.html" %}

{% block content %}
        <h2>{{ sensor }} Scenes</h2>

        <p>
            {% if 'p_page' in page_info %}
            <a href='imagelist?page={{ page_info.p_page }}'>Previous</a> ...
            {% endif %}
            Page {{ page_info.c_page + 1 }} of {{ page_info.n_pages }}
            {% if 'n_page' in page_info %}
            ... <a href='imagelist?page={{ page_info.n_page }}'>Next</a>
            {% endif %}
        </p>
        
        <div class="flex-container">
        {% for scn in scns %}
            <div class="flex-item">{{ scn['PID'] }}</div>
        {% endfor %}
        </div>

        <p>
            {% if 'p_page' in page_info %}
            <a href='imagelist?page={{ page_info.p_page }}'>Previous</a> ...
            {% endif %}
            Page {{ page_info.c_page + 1 }} of {{ page_info.n_pages }}
            {% if 'n_page' in page_info %}
            ... <a href='imagelist?page={{ page_info.n_page }}'>Next</a>
            {% endif %}
        </p>
        
{% endblock %}

