{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="static/css/leaflet.css" />
    <script src="static/js/leaflet.js" ></script>
    <link rel="stylesheet" href="static/css/leaflet-areaselect.css" />
    <script src="static/js/leaflet-areaselect.js" ></script>

    <h2>Select Period and Sensor of Interest</h2>
    <p>To use this tool select the start, end dates and sensor you are interested and then optionally
        select a cloud threshold and bounding box to define a region of interest. Then press the 'View Scenes'
        button to view the scenes meeting your query parameters.
    </p>
    
    <form method="POST" enctype="multipart/form-data" action="/imagelist" >
        {{ form.hidden_tag() }}
	    <h3>Select time period of interest (Note. Scenes are order most recent first):</h3>
	    <p>
            <div style="width: 40%">
                {{ form.start_date(class="startdate") }}
            </div>
            {% for error in form.start_date.errors %}
                <span style="color: red;">Start Date: {{ error }}</span>
            {% endfor %}
            <br/>
            <div style="width: 40%">
                {{ form.end_date(class="enddate") }}
            </div>
            {% for error in form.end_date.errors %}
                <span style="color: red;">End Date: {{ error }}</span>
            {% endfor %}
        </p>

	    <h3>Select the sensor of interest:</h3>
	    <p>
            <div style="width: 50%">
            {{ form.sensor_field }}
            </div>
            {% for error in form.sensor_field.errors %}
                <span style="color: red;">Sensors: {{ error }}</span>
            {% endfor %}
        </p>
	    <h3>If you selected an optical sensor, then you can select a cloud percentage threshold:</h3>
	    <p>
            <div style="width: 40%">
            {{ form.cloud_cover_thres }}
            </div>
            {% for error in form.cloud_cover_thres.errors %}
                <span style="color: red;">Cloud Threshold: {{ error }}</span>
            {% endfor %}
        </p>
	    <h3>Optionally, select a bounding box for the area of interest, in degrees (EPSG: 4326). You can interactively select on the map below.</h3>
	    <div id='bbox'>
            <h3>North-East Corner (Top-left)</h3>
            <p>
                <div style="width: 25%">
                    N: <input id="north_bound" name="north_bound" required type="text" value="0.00" class="north_bound">
                </div>
                <div style="width: 25%">
                    E: <input id="east_bound" name="east_bound" required type="text" value="0.00", class="east_bound">
                </div>
                {% for error in form.north_bound.errors %}
                    <span style="color: red;">Northern Bound: {{ error }}</span>
                {% endfor %}
                {% for error in form.east_bound.errors %}
                    <span style="color: red;">Eastern Bound: {{ error }}</span>
                {% endfor %}
            </p>
            <h3>South-West Corner (Bottom-right)</h3>
            <p>
                <div style="width: 25%">
                    S: <input id="south_bound" name="south_bound" required type="text" value="0.00", class="south_bound">
                </div>
                <div style="width: 25%">
                    W: <input id="west_bound" name="west_bound" required type="text" value="0.00", class="west_bound">
                </div>
                {% for error in form.south_bound.errors %}
                    <span style="color: red;">Southern Bound: {{ error }}</span>
                {% endfor %}
                {% for error in form.west_bound.errors %}
                    <span style="color: red;">Western Bound: {{ error }}</span>
                {% endfor %}
            </p>
        </div>
        <p>{{ form.go_submit() }}</p>
    </form>

    <div id="mapid" style="width: 400px; height: 400px; margin: auto; border: 1px solid #ccc"></div>
    <script>
	var mymap = L.map('mapid').setView([52.45, -3.69], 7);
	var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors', minZoom: 0, maxZoom: 12});
	osm.addTo(mymap);
	var areaSelect = L.areaSelect({width:350, height:375});
        areaSelect.on("change", function() {
            var bounds = this.getBounds();
            $("#bbox .north_bound").val(bounds.getNorthEast().lat);
            $("#bbox .east_bound").val(bounds.getNorthEast().lng);
            $("#bbox .south_bound").val(bounds.getSouthWest().lat);
            $("#bbox .west_bound").val(bounds.getSouthWest().lng);
        });
        areaSelect.addTo(mymap);

    </script>

{% endblock %}
