{% extends "base.html" %}

{% block content %}
    <h2>Reports</h2>

    From this page you can download observation date PDF reports for each sensor. These reports provide an overview of
    the acquisitions for a particular period (e.g., annual or quarter). They are intend to allow the user to easily
    identify dates which might have useful imagery and while also allowing an overall understanding of the available
    data to be gained.

    <h3>Landsat</h3>
    Landsat reports are produced annually:

    <ul>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1985.pdf">Landsat Report 1985</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1986.pdf">Landsat Report 1986</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1987.pdf">Landsat Report 1987</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1988.pdf">Landsat Report 1988</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1989.pdf">Landsat Report 1989</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1990.pdf">Landsat Report 1990</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1991.pdf">Landsat Report 1991</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1992.pdf">Landsat Report 1992</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1993.pdf">Landsat Report 1993</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1994.pdf">Landsat Report 1994</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1995.pdf">Landsat Report 1995</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1996.pdf">Landsat Report 1996</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1997.pdf">Landsat Report 1997</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1998.pdf">Landsat Report 1998</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_1999.pdf">Landsat Report 1999</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2000.pdf">Landsat Report 2000</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2001.pdf">Landsat Report 2001</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2002.pdf">Landsat Report 2002</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2003.pdf">Landsat Report 2003</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2004.pdf">Landsat Report 2004</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2005.pdf">Landsat Report 2005</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2006.pdf">Landsat Report 2006</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2007.pdf">Landsat Report 2007</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2008.pdf">Landsat Report 2008</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2009.pdf">Landsat Report 2009</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2010.pdf">Landsat Report 2010</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2011.pdf">Landsat Report 2011</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2012.pdf">Landsat Report 2012</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2013.pdf">Landsat Report 2013</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2014.pdf">Landsat Report 2014</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2015.pdf">Landsat Report 2015</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2016.pdf">Landsat Report 2016</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2017.pdf">Landsat Report 2017</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2018.pdf">Landsat Report 2018</a></li>
        <li><a href="http://144.124.81.196/eoddweb/reports/landsat/landsat_eodd_report_2019.pdf">Landsat Report 2019</a></li>
    </ul>

    <h3>Sentinel-1</h3>

    <h3>Sentinel-2</h3>

{% endblock %}
