{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="static/css/leaflet.css" />
    <script src="static/js/leaflet.js" ></script>
    <script src='static/js/Leaflet.fullscreen.min.js'></script>
    <link rel="stylesheet" href="static/css/leaflet.fullscreen.css" />
    <script src="static/js/sql.js"></script>
    <script src="static/js/Leaflet.TileLayer.MBTiles.js"></script>

<h2>{{ scn }}</h2>
    <p><a href="/imagelist"> Back to image list </a></p>

    <div id="mapid" style="width: 100%; height: 600px; margin: auto; border: 1px solid #ccc"></div>
    <script>
	    var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors', minZoom: 0, maxZoom: 12});
        var googlearth = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{maxZoom: 20, subdomains:['mt0','mt1','mt2','mt3'], attribution: '&copy; <a href="https://cloud.google.com/maps-platform">Google</a>'})
        var eoddlyr = L.tileLayer.mbTiles('{{ scn_path }}', {minZoom: 0, maxZoom: 12, attribution: '&copy; <a href="http://www.aber.ac.uk">Aberystwyth University</a>'});

        var mymap = L.map('mapid', {center: [{{ scn_obj.South_Lat + ((scn_obj.North_Lat - scn_obj.South_Lat)/2) }}, {{ scn_obj.West_Lon + ((scn_obj.East_Lon - scn_obj.West_Lon)/2) }}],
                                    zoom:10,
                                    minZoom:2,
                                    maxZoom: 12,
                                    layers:[osm, eoddlyr]});

         var overlaymaps = {"{{ sensor }}": eoddlyr}
         var basemaps = {"Open Street Map": osm, "Google Earth": googlearth}
         L.control.layers(basemaps, overlaymaps, {collapsed: true}).addTo(mymap);
         // create fullscreen control
		var fsControl = L.control.fullscreen();
		// add fullscreen control to the map
		mymap.addControl(fsControl);

		// Fit to overlay bounds (SW and NE points with (lat, lon))
		mymap.fitBounds([[{{ scn_obj.South_Lat }}, {{ scn_obj.West_Lon }}], [{{ scn_obj.North_Lat }}, {{ scn_obj.East_Lon }}]])

    </script>
    <p style="font-style: italic;">Depending on your connect it might take a few seconds for the image to be presented on the map</p> 

    {% if sensor == 'Landsat' %}
    <table border="black">
    <thead>
		<tr>
			<th>Field</th>
			<th>Value</th>
		</tr>
        </thead>
        <tbody>
        <tr><td>Scene ID</td><td>{{ scn_obj.Scene_ID }}</td></tr>
        <tr><td>Product ID</td><td>{{ scn_obj.Product_ID }}</td></tr>
        <tr><td>Spacecraft ID</td><td>{{ scn_obj.Spacecraft_ID }}</td></tr>
        <tr><td>Sensor ID</td><td>{{ scn_obj.Sensor_ID }}</td></tr>
        <tr><td>Date Acquired</td><td>{{ scn_obj.Date_Acquired }}</td></tr>
        <tr><td>Collection Number</td><td>{{ scn_obj.Collection_Number }}</td></tr>
        <tr><td>Collection Catagory</td><td>{{ scn_obj.Collection_Catagory }}</td></tr>
        <tr><td>Sensing Time</td><td>{{ scn_obj.Sensing_Time }}</td></tr>
        <tr><td>Data Type</td><td>{{ scn_obj.Data_Type }}</td></tr>
        <tr><td>WRS Path</td><td>{{ scn_obj.WRS_Path }}</td></tr>
        <tr><td>WRS Row</td><td>{{ scn_obj.WRS_Row }}</td></tr>
        <tr><td>Cloud Cover</td><td>{{ scn_obj.Cloud_Cover }}</td></tr>
        <tr><td>North Lat</td><td>{{ scn_obj.North_Lat }}</td></tr>
        <tr><td>South Lat</td><td>{{ scn_obj.South_Lat }}</td></tr>
        <tr><td>East Lon</td><td>{{ scn_obj.East_Lon }}</td></tr>
        <tr><td>West Lon</td><td>{{ scn_obj.West_Lon }}</td></tr>
        </tbody>
    </table>
    {% endif %}

    {% if sensor == 'Sentinel-1' %}
    <table border="black">
    <thead>
		<tr>
			<th>Field</th>
			<th>Value</th>
		</tr>
        </thead>
        <tbody>
        <tr><td>Scene ID</td><td>{{ scn_obj.Scene_ID }}</td></tr>
        <tr><td>Product Name</td><td>{{ scn_obj.Product_Name }}</td></tr>
        <tr><td>Product File ID</td><td>{{ scn_obj.Product_File_ID }}</td></tr>
        <tr><td>ABS Orbit</td><td>{{ scn_obj.ABS_Orbit }}</td></tr>
        <tr><td>Relative Orbit</td><td>{{ scn_obj.Rel_Orbit }}</td></tr>
        <tr><td>Doppler</td><td>{{ scn_obj.Doppler }}</td></tr>
        <tr><td>Flight Direction</td><td>{{ scn_obj.Flight_Direction }}</td></tr>
        <tr><td>Granule Name</td><td>{{ scn_obj.Granule_Name }}</td></tr>
        <tr><td>Granule Type</td><td>{{ scn_obj.Granule_Type }}</td></tr>
        <tr><td>Incidence Angle</td><td>{{ scn_obj.Incidence_Angle }}</td></tr>
        <tr><td>Look Direction</td><td>{{ scn_obj.Look_Direction }}</td></tr>
        <tr><td>Platform</td><td>{{ scn_obj.Platform }}</td></tr>
        <tr><td>Polarization</td><td>{{ scn_obj.Polarization }}</td></tr>
        <tr><td>Process Date</td><td>{{ scn_obj.Process_Date }}</td></tr>
        <tr><td>Process Description</td><td>{{ scn_obj.Process_Description }}</td></tr>
        <tr><td>Process Level</td><td>{{ scn_obj.Process_Level }}</td></tr>
        <tr><td>Process Type</td><td>{{ scn_obj.Process_Type }}</td></tr>
        <tr><td>Process Type Disp.</td><td>{{ scn_obj.Process_Type_Disp }}</td></tr>
        <tr><td>Acquisition Date</td><td>{{ scn_obj.Acquisition_Date }}</td></tr>
        <tr><td>Sensor</td><td>{{ scn_obj.Sensor }}</td></tr>
        <tr><td>North Lat</td><td>{{ scn_obj.North_Lat }}</td></tr>
        <tr><td>South Lat</td><td>{{ scn_obj.South_Lat }}</td></tr>
        <tr><td>East Lon</td><td>{{ scn_obj.East_Lon }}</td></tr>
        <tr><td>West Lon</td><td>{{ scn_obj.West_Lon }}</td></tr>
        </tbody>
    </table>
    {% endif %}

    {% if sensor == 'Sentinel-2' %}
    <table border="black">
    <thead>
		<tr>
			<th>Field</th>
			<th>Value</th>
		</tr>
        </thead>
        <tbody>
        <tr><td>Granule ID</td><td>{{ scn_obj.Granule_ID }}</td></tr>
        <tr><td>Product ID</td><td>{{ scn_obj.Product_ID }}</td></tr>
        <tr><td>Datatake Identifier</td><td>{{ scn_obj.Datatake_Identifier }}</td></tr>
        <tr><td>MGRS Tile</td><td>{{ scn_obj.Mgrs_Tile }}</td></tr>
        <tr><td>Sensing Time</td><td>{{ scn_obj.Sensing_Time }}</td></tr>
        <tr><td>Geometric Quality Flag</td><td>{{ scn_obj.Geometric_Quality_Flag }}</td></tr>
        <tr><td>Cloud Cover</td><td>{{ scn_obj.Cloud_Cover }}</td></tr>
        <tr><td>North Lat</td><td>{{ scn_obj.North_Lat }}</td></tr>
        <tr><td>South Lat</td><td>{{ scn_obj.South_Lat }}</td></tr>
        <tr><td>East Lon</td><td>{{ scn_obj.East_Lon }}</td></tr>
        <tr><td>West Lon</td><td>{{ scn_obj.West_Lon }}</td></tr>
        </tbody>
    </table>
    {% endif %}

    <h3> Get Imagery </h3>
    <p>The ARD imagery for {{ scn }} can be found at:</p>

    <code>
    {{ scn_obj.ARDProduct_Path }}
    </code>

    <h3> Open in Desktop GIS </h3>
    <p>
        To use within a desktop GIS two options are available, the first is to get the original ARD GeoTIFF files from
        the server, see system path above, but these files are very large (Landsat 500Mb, Sentinel-1: 9Gb
        Sentinel-2: 2Gb) when including all the files generated for the ARD product. Alternatively, you can download
        a pre-rendered MBTiles file (used for the map above) which is significantly smaller (Landsat 50Mb,
        Sentinel-1: 200Mb Sentinel-2: 50Mb) and can be opened in your Desktop GIS (e.g., QGIS) alongside your other
        datasets for visualisation. MBTiles can therefore also be used offline (i.e., without an internet connection).
    </p>
    <p>
        <a href="{{ scn_path }}" >Download for {{ scn }}</a>
    </p>
    <p>
        For more information on the MBTiles pre-rendered file please see the <a href="/background">background page </a>.
    </p>

     <p><a href="/imagelist"> Back to image list </a></p>

{% endblock %}
